@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.nav{
    width: 100vw;
    height: 80px;
    background-color: rgb(255, 210, 156);
    display: flex;
    justify-content: center;
    align-items: center;
     /* border: 2px solid black; */
     padding: 20px;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

li {
    font-size: 20px;
    text-decoration: none !important;
}

.active{
    background-color: #ffffff;
}


.main{
    min-height: 74vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

footer{
    width: 100vw;
    height: 100px;
    background-color: rgb(255, 210, 156);
    display: flex;
    justify-content: center;
    align-items: center;
}

